# Données compressées
*.tsv.gz
*.csv

# Checkpoints Jupyter
.ipynb_checkpoints/

# Cache Python
__pycache__/

# VS Code settings
.vscode/

# dossier clean local
WCS_projet2_FCD_clean/


# Fichiers temporaires
*.log
C/x3a/Users/Ahcene/

#fichier pickle 
*.pkl

C/x3a/Users/Ahcene/*

